/**Main Body**/

html, body {
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	margin: 0;
}

/**Grid**/

.full-width {
	margin: 0 auto;
	width: 1200px;
}

.half-width {
	width: 600px;
	float: left;
}

/**Header Section**/

/**Work Section**/

/**About Section**/

/**Contact Section**/

/**Footer Section**/





